<body>
<h1><%="#{@team.name}"</h1><br>
<h2>Team Motto:<%= "#{@team.motto}" %></h2><br>
<h2>Hero Name:<%= "#{@</h2>
<p><%= "#{@pirate.weight}" %></p>
<h2><%= "#{@ships[0].name}" %></h2>
<p><%= "#{@ships[0].type}" %></p>
<p><%= "#{@ships[0].booty}" %></p>
<h2><%= "#{@ships[1].name}" %></h2>
<p><%= "#{@ships[1].type}" %></p>
<p><%= "#{@ships[1].booty}" %></p>
</body>


